.hero--container {
  height: 100vh;
  width: 100vw;
}

.hero--gradient {
  width: 100vw !important;
  max-width: 100vw !important;
  background-image: linear-gradient(
    to right,
    hsla(0, 0, 0, 1) 0%,
    hsla(0, 0, 0, 0.98) 40%,
    hsla(0, 0, 0, 0.8) 70%,
    hsla(0, 0, 0, 0.65) 100%
  );
}
